@charset "utf-8";
/* CSS Document */
body {
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#454545;
	font-size:12px;
	background-image:url(../images/bg.jpg);
	background-repeat:repeat;
}
/*
-----------------------------------------------------------------------------
		General Rules
-----------------------------------------------------------------------------
*/
* {
	padding:0px;
	margin:0px;
	width: auto;
	clip: rect(auto,auto,auto,auto);
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
a:active, a:focus {
   outline:  none;
}

a {
	text-decoration:none;
}
a img {
	border:none;
}
.bold {
	font-weight:bold !important;
}
.smalltext {
	font-size:10px !important;
}
h1 {
	padding:0px;
	margin:0px;
	font-size:24px;
	font-weight:normal;
	color:#999;
}
h2 {
	padding:0px;
	margin:0px;
	font-size:19px;
	font-weight:normal;
	color:#000;
}
h3 {
	padding:0px;
	margin:0px;
	font-size:14px;
	font-weight:bold;
	color:#000;
}
p {
	padding:0px;
	margin:0px;
	font-size:12px;
	color:#000;
	line-height:22px;
}
span.dis_none {
	display:none;
}
/*
-----------------------------------------------------------------------------
		Wrapper Div
-----------------------------------------------------------------------------
*/
#wrapper {
	padding:0px;
	margin:20px auto;
	width:1001px;
}
/*
-----------------------------------------------------------------------------
		Top header
-----------------------------------------------------------------------------
*/
#header_navi {
	padding:0px;
	margin:0px 0px 10px 0px;
	float:left;
	width:1001px;
	height:64px;
}
.left_curve {
	padding:0px;
	margin:0px;
	background-image:url(../images/left_top.png);
	background-repeat:no-repeat;
	height:64px;
	width:13px;
}
.right_curve {
	padding:0px;
	margin:0px;
	background-image:url(../images/right_top.png);
	background-repeat:no-repeat;
	height:64px;
	width:13px;
}
/*
-----------------------------------------------------------------------------
		center_header
-----------------------------------------------------------------------------
*/
.center_header {
	padding:0px;
	margin:0px;
	width:975px;
	height:64px;
	background-image:url(../images/top_bg.png);
	background-repeat:repeat-x;
	background-position:top;
	float:left;
}
/*
-----------------------------------------------------------------------------
		Logo
-----------------------------------------------------------------------------
*/
.logo {
	float:left;
	padding:18px 0px 0px 10px;
}
/*
-----------------------------------------------------------------------------
		Top Navigation Right
-----------------------------------------------------------------------------
*/
.navi_right {
	padding:0px;
	margin:12px 0px 0px 0px;
	float:right;
}
.navi_right ul{
	list-style:none;
	float:left;
}
.navi_right ul li{
	float:left;
	padding:0px 7px;
}
.navi_right ul li a.signin{
	height:39px;
	width:38px;
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
}
.navi_right ul li a.contact{
	height:39px;
	width:38px;
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
	
}
.navi_right ul li a.faqs{
	height:39px;
	width:38px;
	background-repeat:no-repeat;
	display:inline-block;
	text-align:center;
}
/*
-----------------------------------------------------------------------------
		Banner
-----------------------------------------------------------------------------
*/
#cu3er-container {
	padding:0px;
	margin:0px 0px 10px 0px;
	float:left;
	width:1001px;
	height:360px;
}
/*
-----------------------------------------------------------------------------
		Content Section
-----------------------------------------------------------------------------
*/
#content {
	padding:10px 20px 10px 20px;
	margin:0px;
	float:left;
	width:961px;
	background-image:url(../images/content_bg.gif);
	background-repeat:repeat-x;
	background-color:#f4f4f4;
	min-height:300px;
}
/*
-----------------------------------------------------------------------------
		Left Column
-----------------------------------------------------------------------------
*/
.left_sec {
	padding:0px;
	margin:0px;
	width:226px;
	float:left;
}
/*
-----------------------------------------------------------------------------
		Search
-----------------------------------------------------------------------------
*/
.search {
	padding:0px;
	margin:0px 0px 10px 0px;
	float:left;
	width:226px;
}
.search ul{
	list-style:none;
}
.search ul li{
	float:left;
}
.search ul li input{
	float:left;
}
.search ul li input.bar{
	width:191px;
	height:22px;
	background-color:#FFFFFF;
	border:#aaaaaa solid 1px;
	padding:5px 0px 0px 5px;
	font-size:12px;
	float:left;
}
.search ul li input.go{
	width:28px;
	height:29px;
	background-image:url(../images/search.gif);
	background-repeat:no-repeat;
	border:#000000 0px solid;
}
/*
-----------------------------------------------------------------------------
		Left Categories Navigation
-----------------------------------------------------------------------------
*/
.categories {
	padding:0px;
	margin:0px 0px 10px 0px;
	float:left;
	width:226px;
}
h2.heading {
	padding:12px 15px 0px 15px;
	margin:0px;
	background-image:url(../images/categories_bg.gif);
	background-repeat:repeat-x;
	width:196px;
	height:29px;
	color:#FFFFFF;
	float:left;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
}
/* Accordin Menu Start */
.menuheader, .openheader{ /*CSS class for menu headers in general (expanding or not!)*/
	font-size:15px;
	color: #454545;
	background-image:url(../images/left_navi_bg_levl1.gif);
	background-repeat:repeat-x;
	margin-bottom:1px;
	height:27px;
	width:209px;
	padding: 10px 0px 0px 15px; /*header text is indented 10px*/
	cursor: pointer;
	clear:both;
	border:#e3e3e3 solid 1px;
	font-weight:normal;
}


.categories ul{ /*CSS for UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	float:left;
}

.categories ul li{
	background-image:url(../images/left_navi_bg_levl2.gif);
	background-repeat:repeat-x;
	width:224px;
	height:33px;
	border-bottom:#cfcfcf solid 1px;
	border-left:#e7e7e7 solid 1px;
	border-right:#e7e7e7 solid 1px;
	float:left;
}

.categories ul li a{
	color: #454545;
	font-size:12px;
	background: url(../images/arrowbullet.gif) no-repeat center left; /*custom bullet list image*/
	display: block;
	padding: 8px 0px 0px 10px;
	text-decoration: none;
	margin-left:15px;
}

.categories ul li a:visited{
	color: #454545;
}

.categories ul li a:hover{ /*hover state CSS*/
	color: #000;
}
/* Accordin Menu End */
/*
-----------------------------------------------------------------------------
		Advertise
-----------------------------------------------------------------------------
*/
.advertise {
	padding:0px;
	margin:0px 0px 10px 0px;
}
/*
-----------------------------------------------------------------------------
		Right Column
-----------------------------------------------------------------------------
*/
.right_sec {
	padding:0px;
	margin:0px 0px 0px 20px;
	width:710px;
	float:left;
}
.right_sec h1{
	float:left;
}
/*
-----------------------------------------------------------------------------
		Cart
-----------------------------------------------------------------------------
*/
.cart {
	padding:0px;
	margin:0px 0px 10px 0px;
	float:right;
}
.cart a{
	color:#454545;
}
.left_curve_cart {
	padding:0px;
	margin:0px;
	background-image:url(../images/left_cart.gif);
	background-repeat:no-repeat;
	height:29px;
	width:16px;
}
.right_curve_cart {
	padding:0px;
	margin:0px;
	background-image:url(../images/right_cart.gif);
	background-repeat:no-repeat;
	height:29px;
	width:16px;
}
.cart .center_cart{
	float:left;
	background-image:url(../images/cart_bg.gif);
	background-repeat:repeat-x;
	height:22px;
	padding-top:7px;
}
.center_cart ul{
	list-style:none;
}
.center_cart ul li{
	float:left;
}

.center_cart ul li.head{
	float:left;
	padding:0px 10px 0px 20px;
	background-image:url(../images/cart.gif);
	background-repeat:no-repeat;
}
.center_cart ul li.items{
	float:left;
	padding:0px 7px 0px 0px;
	background-image:url(../images/sep.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.center_cart ul li.price{
	float:left;
	padding:0px 0px 0px 7px;
	margin:0px !important;
	width:auto !important;
}
/*
-----------------------------------------------------------------------------
		Grey Bar
-----------------------------------------------------------------------------
*/
.grey_bar {
	padding:7px 0px 0px 0px;
	margin:0px 0px 8px 0px;
	width:708px;
	height:32px;
	background-image:url(../images/grey_bar.gif);
	background-repeat:repeat-x;
	border:#bdbdbd solid 1px;
}
.page_no {
	font-weight:bold;
	float:left;
	padding:0px 15px;
}
ul.paging {
	list-style:none;
	float:left;
}
ul.paging li{
	float:left;
	padding:0px 7px;
}
ul.paging li.txt{
	padding-top:5px;
}
ul.paging li.txt a{
	color:#000000;
}
ul.paging li a.left_button{
	display:inline-block;
	height:23px;
	width:23px;
	background-image:url(../images/left.gif);
	background-repeat:no-repeat;
}
ul.paging li a.right_button{
	display:inline-block;
	height:23px;
	width:23px;
	background-image:url(../images/right.gif);
	background-repeat:no-repeat;
}
ul.list_grid {
	list-style:none;
	float:right;
	width:74px;
	margin-right:15px;
}
ul.list_grid li{
	float:left;
}
ul.list_grid li a.grid_view{
	display:inline-block;
	width:37px;
	height:26px;
	background-image:url(../images/grid.gif);
	background-repeat:no-repeat;
}
ul.list_grid li a.list_view{
	display:inline-block;
	width:37px;
	height:26px;
	background-image:url(../images/list.gif);
	background-repeat:no-repeat;
}
.grey_bar ul.cartitems {
	font-weight:bold !important;
}
.grey_bar ul.pad {
	padding-top:5px;
}
ul.cartitems {
	margin:0px;
	list-style:none;
	float:left;
	padding:0px 20px;
	font-weight:normal;
	width:668px;
}
.cartitems .image {
	float:left;
	width:83px;
	text-align:left;
}
.cartitems .image img{
	border:#ebebeb solid 1px;
	width:62px;
	height:62px;
}
.cartitems .name {
	float:left;
	width:260px;
}
.cartitems .price {
	float:left;
	width:88px;
}
.cartitems .quantity {
	float:left;
	width:102px;
}
.cartitems .action {
	float:left;
	width:72px;
}
.cartitems .total {
	float:left;
	width:42px;
}
/*
-----------------------------------------------------------------------------
		Products thumb view
-----------------------------------------------------------------------------
*/
.wht_sec {
	padding:20px;
	margin:2px 0px;
	width:668px;
	background-color:#FFFFFF;
	border:#d5d5d5 solid 1px;
	float:left;
}
/*
-----------------------------------------------------------------------------
		Products grid view
-----------------------------------------------------------------------------
*/
.wht_sec ul.grid{
	list-style:none;
	float:left;
}
.wht_sec ul.sec_row{
	margin-top:18px;
	float:left;
}
.wht_sec ul.grid li{
	background-image:url(../images/prod_bg.gif);
	background-repeat:no-repeat;
	width:210px;
	height:190px;
	text-align:center;
	float:left;
	margin-right:18px;
	padding-top:11px;
}
.wht_sec ul.grid li.last{
	margin-right:0px;
}
.wht_sec ul.grid li a img{
	width:192px;
	height:163px;
}
.wht_sec ul.grid li p.title{
	float:left;
	color:#5c5c5c;
	margin-left:10px;
}
.wht_sec ul.grid li p.price{
	float:right;
	color:#5c5c5c;
	margin-right:10px;
}
/*
-----------------------------------------------------------------------------
		Products list view
-----------------------------------------------------------------------------
*/
.wht_sec_listing {
	padding:20px 0px 0px 0px;
	margin:2px 0px;
	width:708px;
	background-color:#FFFFFF;
	border:#d5d5d5 solid 1px;
	float:left;
}
.wht_sec_listing ul.list{
	list-style:none;
	float:left;
}
.wht_sec_listing ul.list{
	list-style:none;
	float:left;
}
.wht_sec_listing ul.list li{
	width:708px;
	float:left;
	border-bottom:#d5d5d5 solid 1px;
	margin-bottom:20px;
}
.wht_sec_listing ul.list li.last{
	margin-bottom:0px;
	border:none;
}
.thumb {
	padding:0px;
	margin:0px;
	width:192px;
	height:165px;
	border:#dadada solid 1px;
	float:left;
	margin:0px 20px;
}
.thumb img{
	width:192px;
	height:163px;
}
.prod_cons {
	padding:0px;
	margin:0px;
	float:left;
	width:454px;
}
.prod_cons h5{
	padding:0px;
	font-size:10px;
	margin-top:5px;
	float:left;
	width:37px;
}
h2 a{
	color:#000000 !important;
}
ul.crumb {
	list-style:none;
	margin:3px 0px 10px 0px;
	float:left;
}
ul.crumb li{
	width:auto !important;
	float:left;
	border-bottom:none !important;
	padding-bottom:0px !important;
	background-image:url(../images/sep1.gif);
	background-repeat:no-repeat;
	background-position:right center;
	padding:0px 6px;
	margin-bottom:0px !important;
}
ul.crumb li.post{
	background-image:none;
	padding:0px;
	font-size:10px;
	margin-top:2px;
}
ul.crumb li a{
	color:#bebebe;
	text-decoration:none;
	font-size:10px;
}
ul.crumb li a:hover{
	color:#999999;
}
.prod_cons p{
	padding:0px;
	color:#454545;
	clear:both;
}
/*
-----------------------------------------------------------------------------
		Buttons
-----------------------------------------------------------------------------
*/
ul.buttons {
	list-style:none;
	margin-top:10px;
	float:left;
	width:100%;
}
ul.buttons li{
	width:auto !important;
	float:left;
	border-bottom:none !important;
	padding-bottom:0px !important;
	padding-left:0px;
}
ul.buttons li.right{
	width:auto !important;
	float:right;
	border-bottom:none !important;
	padding-bottom:0px !important;
	padding-left:0px;
}
ul.buttons li.first{
	width:auto !important;
	border-bottom:none !important;
	padding-bottom:0px !important;
	padding-right:10px;
}
a.button {
	padding:0px 0px 0px 0px;
	margin:0px;
	background-image:url(http://cl102.justhost.com/404.shtml);
	background-repeat:no-repeat;
	background-position:left top;
	float:left;
	display:block;
	height:22px;
	text-decoration:none;
	font-weight:bold;
	vertical-align:middle;
	color:#454545;
	cursor:pointer;
}
.proceed {
	background-image:url(../images/button_left_proceed.gif) !important;
}
.price_button {
	background-image:url(../images/price_button.gif) !important;
}
.detail {
	background-image:url(../images/detail_button.gif) !important;
}
.cart_button {
	background-image:url(../images/cart_button.gif) !important;
}
a.button span{
	padding:2px 10px 5px 35px;
	margin:0px;
	background-image:url(../images/button_right.gif);
	background-repeat:no-repeat;
	background-position:right bottom;
	float:left;
	border:#000000 solid 0px;
}
a.button img{
	float:left;
	padding:2px 5px 0px 10px;
}
a.button span p{
	float:left;
	line-height:normal !important;
	color:#454545;
	padding:2px 4px 0px 4px;
}
/*
-----------------------------------------------------------------------------
		Product Detail Page rules
-----------------------------------------------------------------------------
*/
.prod_img {
	padding:0px;
	margin:0px;
	width:280px;
	float:left;
	margin-right:20px;
}
.prod_img img.bigimg{
	padding:0px;
	margin:0px;
	width:278px;
	height:272px;
	border:#cacaca solid 1px;
}
.prod_img ul{
	list-style:none;
	float:left;
	width:280px;
	margin-top:10px;
}
.prod_img ul li{
	float:left;
	border:#cacaca solid 1px;
	margin-right:8px;
}
.prod_img ul li.last{
	margin-right:0px;
}
.prod_img ul li img{
	width:62px;
	height:62px;
}
.prod_detail {
	padding:0px;
	margin:0px;
	float:left;
}
.prod_detail h5{
	float:left;
	padding-top:5px;
}
.prod_detail p{
	float:left;
	width:365px;
}
.wht_sec h2.related_products{
	margin:30px 0px 15px 0px;
	padding:0px 0px 4px 0px;
	border-bottom:#ccc solid 1px;
	width:100%;
	float:left;
}
/*
-----------------------------------------------------------------------------
		Cart Section
-----------------------------------------------------------------------------
*/
.cart_sec {
	padding:0px 0px 15px 0px;
	margin:2px 0px;
	width:708px;
	background-color:#FFFFFF;
	border:#d5d5d5 solid 1px;
	float:left;
}
.cart_sec ul.listing{
	padding:0px;
	margin:0px;
	float:left;
	list-style:none;
}
ul.listing li.items{
	float:left;
	border-bottom:#cccccc solid 1px;
}
ul.listing li.grey{
	background-color:#fbfbfb;
}
ul.listing ul.cartitems{
	padding-top:0px !important;
}
ul.listing ul li.image{
	margin:20px 0px 0px 0px;
}
ul.listing ul li.name{
	margin:20px 0px 0px 0px;
}
ul.listing ul li.name h3{
	height:18px;
	overflow:hidden;
}
ul.listing ul li.name p{
	height:50px;
	overflow:hidden;
}
ul.listing ul li.price{
	margin-top:40px;
}
ul.listing ul li.quantity{
	margin-top:40px;
}
ul.listing ul li.quantity img{
	float:left;
	margin-top:2px;
}
ul.listing ul li.quantity input{
	float:left;
	width:18px;
	padding-top:2px;
	margin:0px 4px;
	text-align:center;
	font-size:10px;
	height:15px;
	border:#8f989f solid 1px;
}
ul.listing ul li.action{
	margin-top:40px;
}
ul.listing ul li.action a.cross{
	height:18px;
	width:18px;
	background-image:url(../images/cross.png);
	background-repeat:no-repeat;
	display:inline-block;
}
ul.listing ul li.total{
	padding-top:40px;
	border-left:#d5d5d5 solid 1px;
	padding-left:20px;
	height:68px;
}
.cart_sec ul.buttons{
	margin-right:15px;
	width:auto !important;
	float:right !important;
}
/*
-----------------------------------------------------------------------------
		Sub Total
-----------------------------------------------------------------------------
*/
.sub_total {
	padding:10px 0px;
	margin:0px;
	width:708px;
	border-bottom:#CCCCCC solid 1px;
	background-color:#eeeeee;
	float:left;
}
.sub_total ul{
	float:right;
	list-style:none;
	margin-right:20px;
}
.sub_total ul li{
	float:left;
	color:#000000;
}
.sub_total ul li.s_total{
	font-size:12px;
	font-weight:bold;
	width:100px;
}
/*
-----------------------------------------------------------------------------
		content top
-----------------------------------------------------------------------------
*/
.cont_top {
	padding:0px;
	margin:0px;
	width:1001px;
	height:10px;
	background-image:url(../images/content_top.png);
	background-repeat:no-repeat;
}
/*
-----------------------------------------------------------------------------
		content bottom
-----------------------------------------------------------------------------
*/
.cont_botm {
	padding:0px;
	margin:0px;
	width:auto;
	height:6px;
	background-image:url(../images/content_botom.png);
	background-repeat:no-repeat;
}
/*
-----------------------------------------------------------------------------
		Footer
-----------------------------------------------------------------------------
*/
#footer {
	padding:0px;
	width:1001px;
	float:left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
#footer p{
	color:#FFFFFF;
	font-size:10px;
	line-height:15px;
}

/*
-----------------------------------------------------------------------------
		Buttons
-----------------------------------------------------------------------------
*/

a.ovalbutton{

display: block;
float: left;
height: 24px; /* Height of button background height */
padding-left: 31px; /* Width of left menu image */
text-decoration: none;
font-weight:bold;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #494949; /*button text color*/
}

a.ovalbutton span{
background: transparent url(../images/button_right.gif) no-repeat top right;
display: block;
padding: 3px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
height:21px;
}

a.price_button {
background: transparent url(../images/price_button.gif) no-repeat top left;
}
a.cart_button {
background: transparent url(../images/cart_button.gif) no-repeat top left;
}
a.checkout_button {
background: transparent url(../images/button_left_proceed.gif) no-repeat top left;
}
a.detail_button {
background: transparent url(../images/detail_button.gif) no-repeat top left;
}
/*
-----------------------------------------------------------------------------
		New
-----------------------------------------------------------------------------
*/
.new {
	padding:0px;
	margin:5px 0px 0px -187px;
	background-image:url(../images/new.png);
	background-repeat:no-repeat;
	position:absolute;
	float:left;
	height:42px;
	width:42px;
}
.sale {
	padding:0px;
	margin:5px 0px 0px -187px;
	background-image:url(../images/sale.png);
	background-repeat:no-repeat;
	position:absolute;
	float:left;
	height:42px;
	width:42px;
}
